{% extends "admin.layout" %}

{% set title = "Enchère support " ~ auction.adPlacement.media_name ~ " " ~ auction.adPlacement.name %}
{% set context = "auction" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>
			Enchère support {{auction.adPlacement.media.name}} - {{ auction.adPlacement.name }}
		</h1>
	</div>
	<div class="col-md-12">
		<h2>Informations sur l'enchère</h2>
		<hr>

		<div class="col-md-4">
			<ul>
				<li>
					<b>Client : </b>
					{{ auction.user.name }} {{ auction.user.family_name }}
				</li>
				<li>
					<b>
						{% if auction.user.buyer.type == constant('App\\Buyer::TYPE_AGENCY')%}
						Agence :
						{% else %}
						Annonceur :
						{% endif %}
					</b>
					<a href="{{ route('admin.buyer.show', auction.user.buyer.id) }}">
					 {{ auction.user.buyer.name }}
				 	</a>
				</li>
			</ul>
		</div>

		<div class="col-md-4">
			<ul>
				<li><b>Prix : </b>{{ auction.adPlacement.price }}&euro;</li>
				<li>
					<b>Statut publication : </b>
					{% if auction.publication_status == constant('App\\Auction::PUBLICATION_VALID') %}
					Publiée
					{% else %}
					Non publiée
					{% endif %}
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-12">
		<h2>Informations sur le support</h2>
		<hr>
		<div class="col-md-2">
			<img class="img-responsive" src="{{ auction.adPlacement.media.cover_img }}" alt="Couverture du support {{ auction.adPlacement.media.name }}" />
		</div>
		<div class="col-md-4">
			<ul>
				<li><b>Support : </b>{{ auction.adPlacement.media.support.name }}</li>
				<li><b>Nom du support : </b>{{ auction.adPlacement.media.name }}</li>
				<li><b>Famille : </b>{{ auction.adPlacement.media.category.name }}</li>
				<li><b>Thématique : </b>{{ auction.adPlacement.media.theme.name }}</li>
			</ul>
		</div>

		<div class="col-md-6">
			<ul>
				<li><b>Périodicité : </b>{{ auction.adPlacement.media.frequency.name }}</li>
				<li><b>Diffusion : </b>{{ auction.adPlacement.media.broadcastingArea.name }}</li>
				<li>
					<b>Cibles : </b>
					{% for target in auction.adPlacement.media.targets %}
					{{ target.name }} {% if not loop.last %},{% endif %}
					{% endfor %}
				</li>
				<li><b>Diffusion France Payée : </b>{{ auction.adPlacement.media.datas }}</li>
			</ul>
		</div>
	</div>

	<div class="col-md-12">
	  	<h1>Informations sur l'emplacement</h1>
	  	<hr>

	  	<div class="col-md-4">
			<ul>
				{% if auction.adPlacement.media.supportType.support.name|lower == 'presse' %}
		        <li><b>Numéro de l'édition : </b>n°{{ auction.adPlacement.edition }}</li>
				{% endif %}
				<li><b>Format : </b>{{ auction.adPlacement.format.name }}</li>
				<li><b>Zone de l'emplacement : </b>{{ auction.adPlacement.position }}</li>
			</ul>
		</div>

		<div class="col-md-4">
			<ul>
				<li><b>Mode de vente : </b>{{ auction.adPlacement.type_fr }}</li>
				<li><b>Prix fixe : </b>{{ auction.adPlacement.price }}&euro;</li>
				<li><b>Prix minimum : </b>{% if auction.adPlacement.minimum_price %}{{ auction.adPlacement.minimum_price }}&euro;{% else %}-{% endif %}</li>
			</ul>
		</div>

		<div class="col-md-4">
			<ul>
				<li><b>Date de début de la vente : </b>{{ auction.adPlacement.starting_at_fr }}</li>
				<li><b>Date de fin de la vente : </b>{{ auction.adPlacement.ending_at_fr }}</li>
				<li><b>Date de remise des éléments techniques : </b>{{ auction.adPlacement.technical_deadline_date }}</li>
				<li><b>Date de publication : </b>{{ auction.adPlacement.broadcasting_date_fr }}</li>
				<li><b>Date de bouclage : </b>{{ auction.adPlacement.locking_up_fr_no_seconds }}</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
