{% extends "admin.layout" %}

{% set title = "Liste des agences et annonceurs" %}
{% set context = 'buyer' %}

{% block content %}
<div class="row" data-ng-controller="BuyerCtrl">
	<div class="col-md-12">
		<h1>Liste des agences et annonceurs</h1>

		<table class="table table-hover" data-st-table="BuyerList" st-pipe="refresh" id="BuyerList">
			<thead>
				<tr>
					<th data-st-sort="name">Nom</th>
					<th>Référent</th>
					<th data-st-sort="type">Type</th>
					<th data-st-sort="status">Statut</th>
					<th></th>
				</tr>
				<tr>
					<th><input st-search="name" class="form-control" placeholder="Recherche..." type="text"/></th>
					<th></th>
					<th>
						<select name="type" st-search="type" st-input-event="change" id="ListBuyerType" class="form-control">
							<option value=""></option>
							<option value="{{ constant('App\\Buyer::TYPE_ADVERTISER')}}">Annonceur</option>
							<option value="{{ constant('App\\Buyer::TYPE_AGENCY')}}">Agence</option>
						</select>
					</th>
					<th>
						<select name="status" st-search="status" st-input-event="change" id="ListBuyerStatuts" class="form-control">
							<option value=""></option>
							<option value="pending">En attente</option>
							<option value="valid">Validé</option>
						</select>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-show="list.length" data-ng-repeat="buyer in list" data-ng-dblclick="go('{{ route('admin.buyer.index') }}/' + list[$index].id)">
					<td>[[ buyer.name ]] ([[ buyer.company_type ]])</td>
					<td>[[ buyer.referent.name ]] [[ buyer.referent.family_name ]]</td>
					<td>
						<span data-ng-show="buyer.type == '{{ constant('App\\Buyer::TYPE_ADVERTISER')}}'">
							Annonceur
						</span>
						<span data-ng-show="buyer.type == '{{ constant('App\\Buyer::TYPE_AGENCY')}}'">
							Agence
						</span>
					</td>
					<td class="text-center">
						<i data-ng-show="buyer.status == '{{ constant('App\\Buyer::STATUS_PENDING')}}'" class="fa fa-hourglass-half fa-black"></i>
						<i data-ng-show="buyer.status == '{{ constant('App\\Buyer::STATUS_VALID')}}'" class="fa fa-check fa-black"></i>
					</td>
					<td>
						<button class="btn btn-primary" data-ng-click="go('{{ route('admin.buyer.index') }}/' + list[$index].id)">
							<i class="fa fa-eye"></i>
						</button>
						<button class="btn btn-primary" data-ng-click="openModal('#UpdateBuyerModal', buyer)">
								<i class="fa fa-pencil"></i>
						</button>
						<button class="btn btn-danger" data-ng-click="openModal('#DeleteBuyerModal', buyer)">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>
				</tr>
				<tr data-ng-hide="list.length || loading == true">
					<td colspan="5" class="text-center">Aucun élément</td>
				</tr>
				<tr data-ng-show="loading == true">
					<td colspan="5" class="text-center"><i class="fa fa-spin fa-spinner"></i></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="20"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="modal fade" id="UpdateBuyerModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Mettre à jour Agence / Annonceur</h4>
				</div>
				<form action="{{ route('admin.buyer.update', ['{id}']) }}" class="ajax" data-referent-table="BuyerList">
					<div class="modal-body col-md-12">
						<div class="alert alert-danger hidden"></div>
						<div class="form-group col-md-6">
							<label for="UpdateBuyerName">Raison sociale</label>
							<input type="text"
								name="name"
								id="UpdateBuyerName"
								class="form-control"
								data-ng-value="current.name">
						</div>

						<div class="form-group col-md-6">
							<label for="UpdateBuyerCompanyType">Type de société</label>
							<select name="company_type" class="form-control" id="UpdateBuyerCompanyType">
								<option value="SARL" data-ng-selected="current.company_type == SARL">
									SARL
								</option>
								<option value="SA" data-ng-selected="current.company_type == SA">
									SA
								</option>
								<option value="EURL" data-ng-selected="current.company_type == EURL">
									EURL
								</option>
								<option value="SNC" data-ng-selected="current.company_type == SNC">
									SNC
								</option>
								<option value="SASU" data-ng-selected="current.company_type == SASU">
									SASU
								</option>
							</select>
						</div>

						<div class="form-group col-md-12">
							<label for="UpdateBuyerAddress">Adresse</label>
							<input type="text" name="address"
								id="UpdateBuyerAddress"
								class="form-control"
								data-ng-value="current.address">
						</div>

						<div class="form-group col-md-6">
							<label for="UpdateBuyerZipcode">Code postal</label>
							<input type="text" name="zipcode"
								id="UpdateBuyerZipcode"
								class="form-control"
								data-ng-value="current.zipcode">
						</div>

						<div class="form-group col-md-6">
							<label for="UpdateBuyerCity">Ville</label>
							<input type="text" name="city"
								id="UpdateBuyerCity"
								class="form-control"
								data-ng-value="current.city">
						</div>

						<div class="form-group col-md-6">
							<label for="UpdateBuyerPhone">Téléphone</label>
							<input type="text" name="phone"
								id="UpdateBuyerPhone"
								class="form-control"
								data-ng-value="current.phone">
						</div>

						<div class="form-group col-md-6">
							<label for="UpdateBuyerEmail">Email</label>
							<input type="text" name="email"
								id="UpdateBuyerEmail"
								class="form-control"
								data-ng-value="current.email">
						</div>

						<div class="form-group col-md-6">
							<label for="UpdateBuyerStatus">Statut</label>
							<select name="status" class="form-control" id="UpdateBuyerStatus">
								<option value="pending"
									data-ng-selected="current.status == '{{ constant('App\\Buyer::STATUS_PENDING')}}'">
									En attente
								</option>
								<option value="valid"
									data-ng-selected="current.status == '{{ constant('App\\Buyer::STATUS_VALID')}}'">
									Validé
								</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label for="UpdateBuyerType">Catégorie</label>
							<select name="type" class="form-control" id="UpdateBuyerType">
								<option value="agency"
									data-ng-selected="current.type == '{{ constant('App\\Buyer::TYPE_AGENCY')}}'">
									Agence
								</option>
								<option value="advertiser"
									data-ng-selected="current.type == '{{ constant('App\\Buyer::TYPE_ADVERTISER')}}'">
									Annonceur
								</option>
							</select>
						</div>
						<div class="form-group col-md-12">
							<label for="UpdateBuyerActivity">Activité</label>
							<input type="text" name="activity"
								id="UpdateBuyerActivity"
								class="form-control"
								data-ng-value="current.activity">
						</div>

						<div class="form-group col-md-12">
							<label for="UpdateBuyerCustomers">Mandats</label>
							<input type="text" name="customers"
								id="UpdateBuyerCustomer"
								class="form-control"
								data-ng-value="current.customers">
						</div>

						<div class="form-group col-md-12">
							<label for="UpdateBuyerUser">Référent</label>
							<select name="user_id" id="UpdateBuyerUser" data-buyer-id="[[ current.id ]]" class="select2 autocomplete-user">
								<option value="[[ current.referent.id ]]">[[ current.referent.name ]] [[ current.referent.family_name ]] - [[ current.referent.email ]]</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="_method" value="put">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
						<button type="submit"
							class="btn btn-primary"
							data-loading-text="<i class='fa fa-spin fa-spinner'></i>"
							data-done-text="Enregistré !">
							Enregistrer
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="DeleteBuyerModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Supprimer Agence / Annonceur</h4>
				</div>
				<div class="modal-body">
					<p>Voulez vous vraiment supprimer [[current.name]]?</p>
				</div>
				<form action="{{ route('admin.buyer.destroy', ['{id}']) }}" class="ajax" data-referent-table="BuyerList">
					<input type="hidden" name="_method" value="delete">
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-danger" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" data-done-text="Supprimé !">Supprimer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}
