{% extends "admin.layout" %}

{% set title = "Liste des offres" %}
{% set context = 'ad-placement' %}

{% block content %}
<div class="row" data-ng-controller="AdPlacementCtrl">
	<div class="col-md-12">
		<h1>Liste des offres <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#CreateAdPlacementModal"><i class="fa fa-plus"></i></button></h1>

		<table class="table table-hover" data-st-table="AdPlacementList" st-pipe="refresh" id="AdPlacementList">
			<thead>
				<tr>
					<th data-st-sort="media.name">Support</th>
					<th data-st-sort="ad_placement.name">Emplacement</th>
					<th data-st-sort="ad_placement.price">Prix de l'offre</th>
					<th data-st-sort="ad_placement.minimum_price">Prix minimum</th>
					<th data-st-sort="ad_placement.starting_at">Début</th>
					<th data-st-sort="ad_placement.ending_at">Fin</th>
					<th>Type</th>
					<th></th>
				</tr>
				<tr>
					<th>
						<input st-search="media__name" class="form-control" placeholder="Recherche..." type="text"/>
					</th>
					<th>
						<input st-search="ad_placement__name" class="form-control" placeholder="Recherche..." type="text"/>
					</th>
					<th></th>
					<th colspan="5"></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-show="list.length"
					data-ng-repeat="ad_placement in list"
					data-ng-dblclick="go('{{ route('admin.ad-placement.index') }}/' + list[$index].id)">

					<td>[[ ad_placement.media.name ]]</td>
					<td>[[ ad_placement.name ]]</td>
					<td>[[ ad_placement.price ]]&euro;</td>
					<td>
						<span ng-show="ad_placement.minimum_price">
							[[ ad_placement.minimum_price ]]&euro;
						</span>
						<span ng-hide="ad_placement.minimum_price">
							--
						</span>
					</td>
					<td>[[ ad_placement.starting_at_fr ]]</td>
					<td>[[ ad_placement.ending_at_fr ]]</td>
					<td class="text-center">
						[[ ad_placement.type_fr ]]
					</td>
					<td>
						<button class="btn btn-primary" data-ng-click="go('{{ route('admin.ad-placement.index') }}/' + list[$index].id)">
								<i class="fa fa-eye"></i>
						</button>
						<button class="btn btn-primary" data-ng-click="openModal('#UpdateAdPlacementModal', ad_placement)">
								<i class="fa fa-pencil"></i>
						</button>
					</td>
				</tr>
				<tr data-ng-hide="list.length || loading == true">
					<td colspan="8" class="text-center">Aucun élément</td>
				</tr>
				<tr data-ng-show="loading == true">
					<td colspan="8" class="text-center"><i class="fa fa-spin fa-spinner"></i></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8" class="text-center">
						<div st-pagination="" st-items-by-page="20"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="modal fade" id="CreateAdPlacementModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Ajouter un emplacement</h4>
				</div>

				<form action="{{ route('admin.ad-placement.store') }}" class="ajax" data-referent-table="AdPlacementList">
					<div class="alert alert-danger hidden"></div>

					<div class="modal-body">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="CreateAdPlacementName">Nom</label>
								<input type="text" name="name" id="CreateAdPlacementName" class="form-control">
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementDescription">Prix</label>
								<input type="number" name="price" id="CreateAdPlacementDescription" class="form-control">
							</div>

							<div class="form-group col-md-12">
								<label for="CreateAdPlacementDescription">Description</label>
								<textarea name="description" id="CreateAdPlacementDescription" class="form-control"></textarea>
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementStartingAt">Début</label>
								<input type="text" name="starting_at" id="CreateAdPlacementStartingAt" class="form-control">
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementEndingAt">Fin</label>
								<input type="text" name="ending_at" id="CreateAdPlacementEndingAt" class="form-control">
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementBroadcastingDate">Date de publication</label>
								<input type="text" name="broadcasting_date" id="CreateAdPlacementBroadcastingDate" class="form-control">
							</div>
							<div class="form-group col-md-6">
								<label for="CreateAdPlacementLockingUp">Date de bouclage</label>
								<input type="text" name="locking_up" id="CreateAdPlacementLockingUp" class="form-control">
							</div>

							<div class="form-group col-md-6">
								<label>Type</label>
								<select name="type" id="AdPlacementTypeList" class="form-control">
									<option value="{{ constant('App\\AdPlacement::TYPE_AUCTION') }}">enchère</option>
									<option value="{{ constant('App\\AdPlacement::TYPE_BOOKING') }}">réservation</option>
									<option value="{{ constant('App\\AdPlacement::TYPE_HYBRID') }}">prix fixe + offre</option>
								</select>
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementMinimumPrice">Prix minimum</label>
								<input type="number" name="minimum_price" id="CreateAdPlacementMinimumPrice" class="form-control">
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementMedia">Média</label>
								<select class="form-control select2 autocomplete-media" name="media_id" id="CreateAdPlacementMedia"></select>
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementFormat">Format</label>
								<select name="format_id" id="CreateAdPlacementFormat" class="select2 autocomplete-format-create" data-support-id=""></select>
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementTechnicalDeadline">Deadline technique</label>
								<input type="text" name="technical_deadline" id="CreateAdPlacementTechnicalDeadline" class="form-control">
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementPosition">Position</label>
								<input type="text" name="position" id="CreateAdPlacementPosition" class="form-control">
							</div>

							<div class="form-group col-md-6">
								<label for="CreateAdPlacementEdition">Edition</label>
								<input type="text" name="edition" id="CreateAdPlacementEdition" class="form-control">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" data-done-text="Enregistré !" formnovalidate>Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="UpdateAdPlacementModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Mettre à jour un emplacement</h4>
				</div>

				<form action="{{ route('admin.ad-placement.update', ['{id}']) }}" class="ajax" data-referent-table="AdPlacementList">
					<div class="alert alert-danger hidden"></div>

					<div class="modal-body">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="CreateAdPlacementName">Nom</label>
								<input type="text" name="name" id="UpdateAdPlacementName" class="form-control" ng-value="current.name">
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementDescription">Prix</label>
								<input type="number" name="price" id="UpdateAdPlacementDescription" class="form-control" ng-value="current.price">
							</div>

							<div class="form-group col-md-12">
								<label for="UpdateAdPlacementDescription">Description</label>
								<textarea name="description" id="UpdateAdPlacementDescription" class="form-control">[[ current.description ]]</textarea>
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementStartingAt">Début</label>
								<input type="text" name="starting_at" id="UpdateAdPlacementStartingAt" class="form-control" ng-value="current.starting_at_fr_no_seconds">
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementEndingAt">Fin</label>
								<input type="text" name="ending_at" id="UpdateAdPlacementEndingAt" class="form-control" ng-value="current.ending_at_fr_no_seconds">
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementBroadcastingDate">Date de publication</label>
								<input type="text" name="broadcasting_date" id="UpdateAdPlacementBroadcastingDate" class="form-control" ng-value="current.broadcasting_date_fr">
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementLockingUp">Date de bouclage</label>
								<input type="text" name="locking_up" id="UpdateAdPlacementLockingUp" class="form-control" ng-value="current.locking_up_fr_no_seconds">
							</div>

							<div class="form-group col-md-6">
								<label>Type</label>
								<select name="type" id="UpdateAdPlacementTypeList" class="form-control">
									<option ng-selected="current.type == '{{ constant('App\\AdPlacement::TYPE_AUCTION') }}'" value="{{ constant('App\\AdPlacement::TYPE_AUCTION') }}">
										enchère
									</option>
									<option ng-selected="current.type == '{{ constant('App\\AdPlacement::TYPE_BOOKING') }}'" value="{{ constant('App\\AdPlacement::TYPE_BOOKING') }}">
										réservation
									</option>
									<option ng-selected="current.type == '{{ constant('App\\AdPlacement::TYPE_HYBRID') }}'" value="{{ constant('App\\AdPlacement::TYPE_HYBRID') }}">
										prix fixe + offre
									</option>
								</select>
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementMinimumPrice">Prix minimum</label>
								<input type="number" name="minimum_price" id="UpdateAdPlacementMinimumPrice" class="form-control" ng-value="current.minimum_price">
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementMedia">Média</label>
								<select class="form-control select2 autocomplete-media-update" name="media_id" id="UpdateAdPlacementMedia" data-media-id="[[ current.media.id ]]">
									<option selected="selected" ng-value="current.media_id">[[ current.media.name ]]</option>
								</select>
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementFormat">Format</label>
								<select name="format_id" id="UpdateAdPlacementFormat" class="select2 autocomplete-format-update" data-format-id="[[current.format.id]]">
                                    <option selected="selected" ng-value="current.format.id">[[ current.format.name ]]</option>
								</select>
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementTechnicalDeadline">Deadline technique</label>
								<input type="text" name="technical_deadline" id="UpdateAdPlacementTechnicalDeadline" class="form-control" ng-value="current.technical_deadline_no_seconds">
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementPosition">Position</label>
								<input type="text" name="position" id="UpdateAdPlacementPosition" class="form-control" ng-value="current.position">
							</div>

							<div class="form-group col-md-6">
								<label for="UpdateAdPlacementEdition">Edition </label>
								<input type="text" name="edition" id="UpdateAdPlacementEdition" class="form-control" ng-value="current.edition">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="_method" value="put">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" data-done-text="Enregistré !" formnovalidate>Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
